<main class="w-full bg-white h-screen">
    <app-header></app-header>
    <section class="w-full relative flex flex-col items-center justify-center h-full bg-white space-y-6">
        <ng-container *ngIf="slide === 0">
            <div class="flex flex-col w-full items-center justify-center">
                <img class="w-56 rounded-lg" src="assets/cutes-1.jpg" alt="">
                <p class="font-primary text-xl font-bold">Hello Dinda Queen</p>
            </div>
        </ng-container>

        <ng-container *ngIf="slide === 1">
            <div class="flex flex-col w-full items-center justify-center px-6">
                <p class="font-primary text-xl font-bold capitalize">Happy valentine sayang 💐</p>
                <img class="w-56 rounded-lg" src="assets/makan.gif" alt="">
                <p class="font-primary text-sm text-center">Terima kasih sudah sering menemaniku makan kentang di subiyet hehehe 🥰. Love bgt buat dinda sekebon 🫶
                </p>
            </div>
        </ng-container>

        <ng-container *ngIf="slide === 2">
            <div class="flex flex-col w-full px-6 h-full justify-center items-center overflow-y-auto">
                <div class="w-full flex flex-row items-center space-x-4">
                    <p class="font-primary text-xl font-bold capitalize">Teruntuk Kesayanganku</p>
                    <img class="w-16" src="assets/reminder.gif" alt="">
                </div>
                <div class="w-full flex flex-row items-center space-x-4 mt-4">
                    <p class="text-lg font-bold text-blue-500">*DAY 788 ( DAILY REMINDER )</p>
                </div>
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Intro</p>
                    <p class="text-sm text-black">Selamat pagi sayangku yang kiyookkk, apakah berbi bangun dengan semangat pagi ini hehehhe 🙆‍♀️
                        🙆</p>
                    <p class="text-sm text-black mt-4">Udah lama banget ayang aku tidak menulis daily reminder hehehe, spesial kali ini aku coding langsung ayang wkwkkwkw</p>
                    <img class="absolute bottom-0 right-4 w-10" src="assets/kiss.gif" alt="">
                </div>
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Part 1</p>
                    <p class="text-sm text-black">Btw semuanya ini aku coding ayang, jadi daily reminder kali full coding wkwkwk dan aku buat barusan</p>
                    <p class="text-sm text-black mt-4">Jadi kalau ga bagus maaf yee 🤏🏽</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="slide === 3">
            <div class="flex flex-col w-full px-6 h-full justify-center items-center overflow-y-auto">
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Part 2</p>
                    <p class="text-sm text-black">Teruntuk berbiku, terima kasih ya buat semua yang udah kita laluin setiap hari, termasuk untuk hari ini 
                        hari yang bahagia bgt kita bisa merayakan valentine walaupun secara sederhana banget.
                         Teristimewa terima kasih kepada Tuhan Udah
                        ngasih kita kesempatan untuk selalu berbahagia melalui setiap hari-hari kita, dijauhkan dari hal hal yang buruk dan menyedihkan.
                    </p>
                    <p class="text-sm text-black mt-4">Adalah sebuah anugerah buat kita berdua walaupun dinda
                        sering nakal kepada benni hehehehehe. canda ayang 🐻
                    </p>
                </div>
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Part 3</p>
                    <p class="text-sm text-black">
                        Terima kasih udah memberiku cinta setiap hari sayang, terima kasih udah jadi pendengar yang baik, walaupun kamu tantrum wkwkwkw, terima kasih udah memberiku makan
                        walaupun ga 5 roti dan 2 ikan. tapi masakan ayang adalah juara. sering sering masakin ya ayang wkkwkw.
                        Terima kasih udah bantu dan ngerti keuanganku yang kadang oleng ayang. Terima kasih udah jadi sandaran terbaik untuk manja manja
                        , nemani kemanapun termasuk kulineran hehehe. aku senang bgt bgt bgt. Dinda Queen adalah yang terbaik
                    </p>
                    <img class="absolute bottom-0 right-4 w-10" src="assets/flower.gif" alt="">
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="slide === 4">
            <div class="flex flex-col w-full px-6 h-full justify-center items-center overflow-y-auto">
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Permintaan Maaf</p>
                    <p class="text-sm text-black">Teruntuk berbiku, aku minta maaf kalau selama ini banyak kesalahan. terutama aku kadang ga jelas
                        membuat berbi kesal dan mengambek. kadang aku juga ga peka, lambat merespon sama kadang susah menjelaskan apa yang kumau, 
                        aku minta maaf ya sayangkuu.
                    </p>
                    <p class="text-sm text-black mt-4">Pasti kamu menunggu permintamaafan yang ga ditulis disini kan wkkwkwkw hehehe
                    </p>
                    <img class="w-16" src="assets/ngakak.gif" alt="">
                </div>
                <div class="w-full mt-8 flex flex-col items-center border-2 border-blue-500 rounded-lg px-4 py-6 relative">
                    <p class="px-6 py-2 bg-blue-500 rounded-full text-xs text-white absolute -top-4 left-8">Harapan</p>
                    <p class="text-sm text-black">
                        Semoga hari ini dan seterusnya menjadi hari yang baik, semoga semua yang kita rencanakan berjalan dengan lancar. semoga
                        ayang tidak mudah kesal dan tantrum wkwkwkw. semoga kita menjadi lebih sabar dan tidak mudah ngambek. dan semoga kedepannya
                        kita dijauhkan dari amarah dan pertengkaran wkwkkw. tapi kalau ku smackdown berbi dikit ga ngaruh ya wkkwkw🦖
                    </p>
                    <img class="absolute bottom-0 right-4 w-10" src="assets/kick.gif" alt="">
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="slide === 5">
            <div class="flex flex-col w-full px-6 h-full justify-center items-center overflow-y-auto">
                <img src="assets/cute.gif" alt="">
                <p class="text-lg px-6 text-center text-blue-500 font-semibold mt-4">
                    Maaf ya kalau daily remindernya cuma segini, ga jelas dan kureng bgt heeheh🦖
                </p>
            </div>
        </ng-container>

        <ng-container *ngIf="slide === 6">
            <div class="flex flex-col w-full px-6 h-full justify-center items-center overflow-y-auto">
                <img class="w-44" src="assets/cute-2.gif" alt="">
                <p class="text-2xl px-6 text-center text-blue-500 font-semibold mt-4">
                    I Love Dinda Queen So Nucb 🥰🥰
                </p>
            </div>
        </ng-container>
    </section>
    <app-footer (prev)="onPrev($event)" (next)="onNext($event)"></app-footer>
</main>